@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
 min-height: 100vh;
 display: flex;
 justify-content: center; 
 align-items: center;
 background-color: #082032;
}

.wrapper {
  display: flex;
}

.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #ff4c29;
  font-size: 60px;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 12s steps(4) infinite; /* 4 palavras */
}

.dynamic-txts li::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #082032; /* o background precisa ser exatamente igual o fundo para passar a sensaçao de apagar */
  border-left: 2px solid #ff4c29; /* precisa ser igual a fonte */
  animation: typing 3s steps(9) infinite; /* o numero aqui é o numero de caracteres da maior palavra */
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}